/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* Page layout. */

html, body {
    margin: 0;
    padding: 0;
}

#page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

#page .header-title {
    padding: 8px 0;
}

#page .header-title h1,
#page .header-title .subtitle,
#page .header-title .page-name {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: var(--md-sys-typescale-title-medium-size);
    font-weight: var(--md-sys-typescale-title-medium-weight);
}

#page .header-title .subtitle {
    font-size: var(--md-sys-typescale-title-small-size);
    font-weight: var(--md-sys-typescale-title-small-weight);
}

#page .header-title .page-name::before {
    content: "\203A"; /* › character */
    padding-right: 4px;
}

#page .header-title .page-name {
    font-size: var(--md-sys-typescale-title-small-size);
    font-weight: var(--md-sys-typescale-title-small-weight);
}

#page .header-controls {
    --md-text-button-container-height: 28px;
    --md-icon-button-state-layer-height: 28px;
}

.light .toggle-dark-mode md-icon::before {
    content: 'brightness_4';
}
.dark .toggle-dark-mode md-icon::before {
    content: 'brightness_7';
}

#page-container {
    display: grid;
    grid-template-columns:
        300px
        /* Prevent elements like <pre> horizontally overflowing
        * https://css-tricks.com/preventing-a-grid-blowout/ */
        minmax(0, 1fr);
    grid-template-areas:
        "nav nav"
        "sidebar content";
    background: var(--md-sys-color-surface);
    border-radius: var(--md-sys-shape-corner-large);
}
#page-tabs {
    grid-area: nav;
}
#page-view {
    display: contents;
}
#page-content {
    grid-area: content;
    padding: 16px;
}
#page-sidebar {
    grid-area: sidebar;
    padding: 24px 16px;
    /* Even though this is part of the grid, it needs to be explicitly set for
     * some reason, otherwise child elements won't wrap. TODO: why? */
    width: 300px;
}

/* Steps page. */

.data-table-container {
    width: 100%;
}

.page-controls {
    display: flex;
    margin: 8px 0;
}

.page-controls md-outlined-text-field {
    width: 80px;
    height: var(--md-icon-button-state-layer-height);
    --md-outlined-field-bottom-space: 12px;
    --md-outlined-field-top-space: 12px;
    --md-outlined-field-trailing-space: 12px;
    --md-outlined-field-leading-space: 12px;
}

.filter-controls {
    margin: 8px 0;
}

.filter-controls h3 {
    font-size: var(--md-sys-typescale-title-medium-size);
    font-weight: var(--md-sys-typescale-title-medium-weight);
}

.filter-controls md-filter-chip {
    --md-filter-chip-label-text-size: 13px;
    --md-filter-chip-leading-space: 10px;
    --md-filter-chip-trailing-space: 10px;
    --md-filter-chip-container-height: 26px;
}

.filter-controls md-chip-set input[type=checkbox] {
    display: none;
}

cds-table-head {
    position: sticky;
    top: 0;
}
cds-table-header-cell {
    background: var(--md-sys-color-surface);
}
cds-table-body {
    background: var(--md-sys-color-surface);
}

.step-rule:not(:empty) {
    background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-container);
    padding: 2px 4px;
    border-radius: var(--md-sys-shape-corner-large);
}

.step-timeline-bar {
    outline: 1px solid var(--md-sys-color-outline);
}
.step-timeline-bar .duration-interval {
    fill: var(--md-sys-color-on-surface);
}

/* Individual step page. */

.step-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "details tools";
}

.step-page dt {
    font-weight: bold;
}

.step-page dd {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.step-details {
    grid-area: details;
}

.step-tools {
    grid-area: tools;
}

.step-tools form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.step-header {
    display: flex;
}

.step-header h1 {
    font-weight: var(--md-sys-typescale-title-medium-weight);
    font-size: var(--md-sys-typescale-title-medium-size);
    line-height: var(--md-sys-typescale-title-medium-line-height);
}

/* Global styles. */

body {
    font-family: var(--md-ref-typeface-plain);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
}

#progress-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#progress-indicator.htmx-request {
    display: block;
}

a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}

a:focus-visible, a:hover {
    text-decoration: underline;
}

/* Code blocks https://meyerweb.com/eric/thoughts/2022/12/29/styling-a-pre-that-contains-a-code/ */
pre:has(> code) {
    overflow-x: auto;
    background: var(--md-sys-color-surface-container);
    border: 1px solid var(--md-sys-color-outline);
    padding: 8px;
}

:root {
    /* Typeface */
    --md-ref-typeface-weight-regular: 400;
    --md-ref-typeface-weight-medium: 500;
    --md-ref-typeface-weight-bold: 700;
    --md-ref-typeface-brand: system-ui;
    --md-ref-typeface-plain: system-ui;

    /* Display */
    --md-sys-typescale-display-small-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-display-small-size: 2.25rem;
    --md-sys-typescale-display-small-line-height: 2.75rem;

    --md-sys-typescale-display-medium-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-display-medium-size: 2.8125rem;
    --md-sys-typescale-display-medium-line-height: 3.25rem;

    --md-sys-typescale-display-large-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-display-large-size: 3.5625rem;
    --md-sys-typescale-display-large-line-height: 4rem;

    /* Headline */
    --md-sys-typescale-headline-small-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-headline-small-size: 1.5rem;
    --md-sys-typescale-headline-small-line-height: 2rem;

    --md-sys-typescale-headline-medium-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-headline-medium-size: 1.75rem;
    --md-sys-typescale-headline-medium-line-height: 2.25rem;

    --md-sys-typescale-headline-large-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-headline-large-size: 2rem;
    --md-sys-typescale-headline-large-line-height: 2.5rem;

    /* Title */
    --md-sys-typescale-title-small-weight:
        var(--md-ref-typeface-weight-medium);
    --md-sys-typescale-title-small-size: 0.875rem;
    --md-sys-typescale-title-small-line-height: 1.25rem;

    --md-sys-typescale-title-medium-weight:
        var(--md-ref-typeface-weight-medium);
    --md-sys-typescale-title-medium-size: 1rem;
    --md-sys-typescale-title-medium-line-height: 1.5rem;

    --md-sys-typescale-title-large-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-title-large-size: 1.375rem;
    --md-sys-typescale-title-large-line-height: 1.75rem;

    /* Body */
    --md-sys-typescale-body-small-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-body-small-size: 0.75rem;
    --md-sys-typescale-body-small-line-height: 1rem;

    --md-sys-typescale-body-medium-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-body-medium-size: 0.875rem;
    --md-sys-typescale-body-medium-line-height: 1.25rem;

    --md-sys-typescale-body-large-weight:
        var(--md-ref-typeface-weight-regular);
    --md-sys-typescale-body-large-size: 1rem;
    --md-sys-typescale-body-large-line-height: 1.5rem;

    /* Label */
    --md-sys-typescale-label-small-weight:
        var(--md-ref-typeface-weight-medium);
    --md-sys-typescale-label-small-size: 0.6875rem;
    --md-sys-typescale-label-small-line-height: 1rem;

    --md-sys-typescale-label-medium-weight:
        var(--md-ref-typeface-weight-medium);
    --md-sys-typescale-label-medium-size: 0.75rem;
    --md-sys-typescale-label-medium-line-height: 1rem;
    --md-sys-typescale-label-medium-weight-prominent:
        var(--md-ref-typeface-weight-bold);

    --md-sys-typescale-label-large-weight:
        var(--md-ref-typeface-weight-medium);
    --md-sys-typescale-label-large-size: 0.875rem;
    --md-sys-typescale-label-large-line-height: 1.25rem;
    --md-sys-typescale-label-large-weight-prominent:
        var(--md-ref-typeface-weight-bold);

    /* Shapes */
    --md-sys-shape-corner-small: 8px;
    --md-sys-shape-corner-medium: 12px;
    --md-sys-shape-corner-large: 16px;

    /* Misc */
    --md-icon-button-state-layer-height: 40px;
}
