{{/* Copyright 2024 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. */}}

{{define "content"}}
{{$prefix:=.prefix}}
{{$currentURL:=.currentURL}}
<aside id="page-sidebar">
<md-list>
  {{range $allowedFile := .allowedFiles}}
    {{$logURL := printf "%s/logs/%s" $prefix $allowedFile}}
    <md-list-item {{if not (urlPathEq $currentURL $logURL)}}type="button" href="{{$logURL}}"{{end}}>
      {{$allowedFile}}
    </md-list-item>
  {{end}}
</md-list>
</aside>
<pre><code>{{.fileContents}}</code></pre>
{{end}}
