{{/* Copyright 2024 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. */}}

{{define "content"}}
{{$prefix:=.prefix}}
{{$currentURL:=.currentURL}}
{{$buildDuration:=.buildDuration}}
<aside id="page-sidebar">
<form class="data-table-filter"
    {{/* Need to add ?sort= to the URL manually if set because sort is handled outside of this form. */}}
    action="{{$prefix}}/steps/{{if urlParamIsSet $currentURL "sort"}}?sort={{urlParamGet $currentURL "sort"}}{{end}}"
    method="GET"
    hx-trigger="change,submit"
    hx-ext-md-filter-chip-as-checkbox>
  <div>
    <div class="step-views">
      <h3 id="view-label">View</h3>
      <input type="radio" id="view-all" name="view" value=""{{if urlHasParam $currentURL "view" ""}} checked{{end}}>
      <label for="view-all">All<md-ripple></md-ripple></label>
      <md-outlined-button disabled>Running</md-outlined-button>
      <md-outlined-button disabled>Failed</md-outlined-button>
      <input type="radio" id="view-critical-path" name="view" value="criticalPath"{{if urlHasParam $currentURL "view" "criticalPath"}} checked{{end}}>
      <label for="view-critical-path">Critical Path<md-ripple></md-ripple></label>
    </div>
    <div class="step-paginator">
      Showing {{.itemFirstLogical}}-{{.itemLastLogical}} of {{.itemsLen}}
    </div>
    <div class="page-controls">
      <md-outlined-text-field class="page-number" type="number" name="page" aria-label="Page"
          value="{{.page}}" min="0" max="{{.pageLast}}"></md-outlined-text-field>
      <md-icon-button onclick="this.parentElement.querySelector('.page-number').value = {{.pageFirst}}">
        <md-icon>first_page</md-icon>
      </md-icon-button>
      <md-icon-button onclick="this.parentElement.querySelector('.page-number').stepDown()">
        <md-icon>chevron_left</md-icon>
      </md-icon-button>
      <md-icon-button onclick="this.parentElement.querySelector('.page-number').stepUp()">
        <md-icon>chevron_right</md-icon>
      </md-icon-button>
      <md-icon-button onclick="this.parentElement.querySelector('.page-number').value = {{.pageLast}}">
        <md-icon>last_page</md-icon>
      </md-icon-button>
    </div>
  </div>
  <div class="filter-controls"
      {{/* Ensure state doesn't go out of sync with the backend by swapping this form whenever we see it in a fetched page. */}}
      id="step-filter-controls">
    <md-filled-text-field name="q" type="search" value="{{.outputSearch}}" placeholder="Search outputs"
        oninput="this.querySelector('md-icon-button').style.display = this.value ? 'flex' : 'none'">
      <md-icon slot="leading-icon">search</md-icon>
      <md-icon-button class="clear-text-field" slot="trailing-icon"
          {{if not .output_search}} style="display: none"{{end}} onclick="this.closest('md-filled-text-field').value = ''; this.style.display = 'none'">
        <md-icon>close</md-icon>
      </md-icon-button>
    </md-filled-text-field>
    <h3 id="action-label">action</h3>
    <md-chip-set aria-labelledby="action-label">
      {{range $key, $count := .actionCounts}}
        {{if gt $count 20}}
        <input type="checkbox" id="action-{{$key}}"
            name="action" value="{{$key}}"{{if urlHasParam $currentURL "action" $key}}checked{{end}}>
        <label for="action-{{$key}}">
          <md-filter-chip label="{{printf "%.25s" $key}} ({{$count}})"{{if urlHasParam $currentURL "action" $key}}selected{{end}}></md-filter-chip>
        </label>
        {{end}}
      {{end}}
    </md-chip-set>
    <h3 id="rule-label">rule</h3>
    <md-chip-set aria-labelledby="rule-label">
      {{range $key, $count := .ruleCounts}}
        <input type="checkbox" id="rule-{{$key}}"
            name="rule" value="{{$key}}"{{if urlHasParam $currentURL "rule" $key}}checked{{end}}>
        <label for="rule-{{$key}}">
          <md-filter-chip label="{{$key}} ({{$count}})"{{if urlHasParam $currentURL "rule" $key}}selected{{end}}></md-filter-chip></label>
      {{end}}
    </md-chip-set>
  </div>
</form>
</aside>
<div class="data-table-container">
  <table>
    <thead>
      <tr hx-push-url="true">
        <th scope="col">
          Output
          <div class="subrow">Action</div>
        </th>
        {{if .sortSupported}}
          {{$sortReadyAsc := or (urlParamEq $currentURL "sort" "readyAsc") (not (urlParamIsSet $currentURL "sort"))}}
          {{$sortReadyDsc := urlParamEq $currentURL "sort" "readyDsc"}}
          {{$sortDurationAsc := urlParamEq $currentURL "sort" "durationAsc"}}
          {{$sortDurationDsc := urlParamEq $currentURL "sort" "durationDsc"}}
          {{$sortCompletionAsc := urlParamEq $currentURL "sort" "completionAsc"}}
          {{$sortCompletionDsc := urlParamEq $currentURL "sort" "completionDsc"}}
          <th scope="col">
            <md-text-button class="sort-header" trailing-icon
                hx-get="{{if $sortReadyAsc}}{{urlParamReplace $currentURL "sort" "readyDsc"}}{{else}}{{urlParamReplace $currentURL "sort" "readyAsc"}}{{end}}">
              Ready
              {{if $sortReadyAsc}}<md-icon slot="icon">arrow_upward</md-icon>{{else if $sortReadyDsc}}<md-icon slot="icon">arrow_downward</md-icon>{{end}}
            </md-text-button>
          </th>
          <th scope="col">
            <md-text-button class="sort-header" trailing-icon
                hx-get="{{if $sortDurationAsc}}{{urlParamReplace $currentURL "sort" "durationDsc"}}{{else}}{{urlParamReplace $currentURL "sort" "durationAsc"}}{{end}}">
              Duration
              {{if $sortDurationAsc}}<md-icon slot="icon">arrow_upward</md-icon>{{else if $sortDurationDsc}}<md-icon slot="icon">arrow_downward</md-icon>{{end}}
            </md-text-button>
          </th>
          <th scope="col">
            <md-text-button class="sort-header" trailing-icon
                hx-get="{{if $sortCompletionAsc}}{{urlParamReplace $currentURL "sort" "completionDsc"}}{{else}}{{urlParamReplace $currentURL "sort" "completionAsc"}}{{end}}">
              Completion
              {{if $sortCompletionAsc}}<md-icon slot="icon">arrow_upward</md-icon>{{else if $sortCompletionDsc}}<md-icon slot="icon">arrow_downward</md-icon>{{end}}
            </md-text-button>
          </th>
        {{else}}
          <th scope="col">Ready</th>
          <th scope="col">Duration</th>
          <th scope="col">Completion</th>
        {{end}}
        <th scope="col">Timeline</th>
      </tr>
    </thead>
    <tbody id="data-table-body">
      {{range .subset}}
      <tr>
        <th scope="row">
          <a href="{{$prefix}}/steps/{{.StepID}}/">{{.Output}}</a>
          <div class="subrow">
            <span class="step-rule">{{.Rule}}</span>
            <span class="step-action">{{.Action}}</span>
          </div>
        </th>
        <td>{{formatIntervalMetric .Ready}}</td>
        <td>{{formatIntervalMetric .Duration}}</td>
        <td>{{formatIntervalMetric (addIntervals .Ready .Duration)}}</td>
        <td>
          <svg height="20" class="step-timeline-bar">
            <rect x="{{divIntervalsScaled .Ready $buildDuration 100}}%" y="0"
                width="{{divIntervalsScaled .Duration $buildDuration 100}}%" height="20"
                class="duration-interval" />
          </svg>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
