{{/* Copyright 2024 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. */}}

{{define "base"}}
{{$prefix:=.prefix}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>sisod</title>

  {{/* Use an importmap for JS libraries where ES import is the canonical installation method,
    or if using ES imports lets us import only the parts we need. */}}
  <script type="importmap">
    {
      "imports": {
        "@github/": "https://esm.run/@github/",
        "@carbon/web-components/": "https://esm.run/@carbon/web-components/",
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
  <script type="module">
    import '@material/web/all.js';
    import '@carbon/web-components/es/components/data-table/index.js';
    import '@github/clipboard-copy-element';
  </script>

  {{/* Classical JS includes. */}}
  <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  <script>
    // HTMX error handling.
    document.addEventListener('htmx:sendError', e => {
      const dialog = document.createElement('md-dialog');
      dialog.setAttribute('type', 'alert');
      dialog.setAttribute('open', 'open');
      dialog.innerHTML = `
        <div slot="headline">Couldn't send request</div>
        <form id="send-error-form" slot="content" method="dialog">
          <p>Is <code>siso webui</code> still running?</p>
          <p>Please file <a href="https://issues.chromium.org/issues" target="_blank">an issue</a> if this seems unexpected.</p>
        </form>
        <div slot="actions">
          <md-text-button form="send-error-form" value="ok">OK</md-text-button>
        </div>`;
      document.body.appendChild(dialog);
    });
    // HTMX extension to allow <md-filter-chip> values to be automatically reset like <input type=checkbox>.
    htmx.defineExtension('ext-md-filter-chip-as-checkbox', {
      onEvent: function(name, event) {
        if (event.detail.isError) return;
        const elt = event.detail.requestConfig?.elt;
        if (name === 'htmx:load') {
          // When the page loads, save the default value of all <md-filter-chip>s.
          document.querySelectorAll('md-filter-chip').forEach(chip => {
            chip.dataset.originalValue = chip.selected;
          });
        } else if (name === 'htmx:beforeRequest') {
          // Before making a request, ensure <md-filter-chip>s are cached with their original value.
          // <form>s must opt in by setting the attribute hx-ext-md-filter-chip-as-checkbox.
          if (!elt || !elt.closest('[hx-ext-md-filter-chip-as-checkbox]')) {
            return;
          }
          elt.querySelectorAll('md-filter-chip').forEach(chip => {
            chip.dataset.newValue = chip.selected;
            const originalValue = chip.dataset.originalValue === 'true';
            if (chip.selected != originalValue) {
              chip.selected = originalValue;
            }
          });
        }
      }
    });
    // Dark mode.
    window.toggleDarkMode = () => {
      const bodyEl = document.querySelector('body');
      const isDark = bodyEl.classList.contains('dark');
      if (isDark) {
        bodyEl.classList.remove('dark');
        bodyEl.classList.add('light');
      } else {
        bodyEl.classList.remove('light');
        bodyEl.classList.add('dark');
      }
    };
    // Open in Perfetto.
    const PERFETTO_ORIGIN = 'https://ui.perfetto.dev';
    const TRACE_URL = new URL('{{.prefix}}/logs/siso_trace.json?raw=true', document.baseURI).href;
    window.openInPerfetto = async () => {
      // TODO: check for and present errors.
      const resp = await fetch(TRACE_URL);
      const blob = await resp.blob();
      const arrayBuffer = await blob.arrayBuffer();
      // Technique to deep-link to Perfetto documented in:
      // https://github.com/google/perfetto/blob/7accba4e26bffa6b5a129cd73e3330d85301cf71/docs/visualization/deep-linking-to-perfetto-ui.md
      let handle = window.open('https://ui.perfetto.dev');
      const timer = setInterval(() => handle.postMessage('PING', PERFETTO_ORIGIN), 50);
      const onMessageHandler = (evt) => {
        if (evt.data !== 'PONG') return;
        window.clearInterval(timer);
        window.removeEventListener('message', onMessageHandler);
        const reopenUrl = new URL(location.href);
        reopenUrl.hash = `#reopen=${TRACE_URL}`;
        handle.postMessage({
          perfetto: {
            buffer: arrayBuffer,
            title: 'siso_trace.json',
            url: reopenUrl.toString(),
        }}, PERFETTO_ORIGIN);
      };
      window.addEventListener('message', onMessageHandler);
    };
  </script>

  {{/* Styles. */}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="/css/light.css">
  <link rel="stylesheet" href="/css/light-hc.css">
  <link rel="stylesheet" href="/css/light-mc.css">
  <link rel="stylesheet" href="/css/dark.css">
  <link rel="stylesheet" href="/css/dark-hc.css">
  <link rel="stylesheet" href="/css/dark-mc.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="light"
  hx-ext="ext-md-filter-chip-as-checkbox"
  {{/* Use HTMX's boost so even normal links and forms are intercepted and feel like AJAX requests. */}}
  hx-boost="true"
  {{/* Tell HTMX by default to use this element as a progress indicator. (It will attach the class "htmx-request" when active.) */}}
  hx-indicator="#progress-indicator"
  {{/* Always swap the #page-view section by default, i.e. don't swap the header and navbar by default. */}}
  hx-select="#page-view" hx-target="#page-view">
  <md-linear-progress id="progress-indicator" indeterminate></md-linear-progress>
  <div id="page">
    <header class="header">
      <div class="header-title">
        <h1>sisoweb</h1>
        <p class="subtitle">{{.versionID}}</p>
        <div class="breadcrumbs">
          <div class="breadcrumb">
            <md-text-button id="outdir-menu-button" class="breadcrumb-menu-button" trailing-icon
                onclick="document.getElementById('outdir-menu').open = !document.getElementById('outdir-menu').open">
              {{.outdirShort}}
              <md-icon slot="icon"></md-icon>
            </md-text-button>
            <md-menu id="outdir-menu" anchor="outdir-menu-button" positioning="popover">
              {{range $outdir := .outdirs}}
              <md-menu-item>
                <div slot="headline">{{$outdir}}</div>
              </md-menu-item>
              {{end}}
            </md-menu>
          </div>
          <div class="breadcrumb">
            <md-text-button id="revision-menu-button" class="breadcrumb-menu-button" trailing-icon
                onclick="document.getElementById('revision-menu').open = !document.getElementById('revision-menu').open">
              {{.currentRev}}
              <md-icon slot="icon"></md-icon>
            </md-text-button>
            <md-menu id="revision-menu" anchor="revision-menu-button" positioning="popover">
              {{range $rev := .revs}}
              <md-menu-item href="{{$prefix}}/../{{$rev}}/steps/">
                <div slot="headline">{{if eq $rev "latest"}}latest{{else}}{{$rev}}{{end}}</div>
              </md-menu-item>
              {{end}}
            </md-menu>
          </div>
        </div>
      </div>
      <div class="header-controls">
        <md-text-button trailing-icon onclick="openInPerfetto()">
          Open in Perfetto
          <md-icon slot="icon">open_in_new</md-icon>
        </md-text-button>
        <md-icon-button class="toggle-dark-mode" onclick="toggleDarkMode()">
          <md-icon></md-icon>
        </md-icon-button>
      </div>
    </header>
    <div id="page-container">
      <md-tabs id="page-tabs" hx-push-url="true">
        <md-primary-tab hx-get="{{.prefix}}/steps/" {{if urlPathHasPrefix .currentURL (printf "%s/steps/" .prefix)}}selected{{end}}>Build Steps</md-primary-tab>
        <md-primary-tab>Aggregates</md-primary-tab>
        <md-primary-tab hx-get="{{.prefix}}/logs/" {{if urlPathHasPrefix .currentURL (printf "%s/logs/" .prefix)}}selected{{end}}>Raw Logs</md-primary-tab>
      </md-tabs>
      <div id="page-view">
        <div id="page-content" class="content">{{template "content" .}}</div>
        <aside id="page-sidebar" class="sidebar">{{template "sidebar" .}}</aside>
      </div>
    </div>
  </div>
</body>
</html>
{{end}}
